.textAbout {
    margin: 5vw;
    background-color: rgb(232, 226, 218);
    width: 75vw;
    line-height: 2rem;
    padding: 1rem 4rem;
    font-family: sans-serif;
    border-radius: 3rem;
    white-space: pre-line;
    text-align: left;
}