.channels{
    position: relative;
    max-width: 80vw;
    border: 1px solid grey;
    margin: 1rem auto;
    height: 4rem;
    // overflow: hidden;
    border-radius: 0.5vw;
    color: rgb(216, 28, 11);
    background-color: rgb(232, 226, 218);
    border: none;
    font-family:  serif;
    &:hover {
        min-height: 4rem;;
        height: auto;
        background-color: rgb(207, 180, 180);
    }
  
}
.channel {
    float: left;
    clear: right;
    text-align: start;
    margin-left: 1vw;
 }
 .input {
    display: inline-block;
    float: left;
 }
.descript {
    color: rgb(121, 110, 110);
    padding: 0.5vw;
    width: 75vw;
    height: 2.5rem;
    line-height: 1rem;
    overflow: hidden;
    &:hover {
        height: auto;
        overflow: visible;
    }
}
.searchDiv{
    width: 98vw;
}
.search{
    margin: 1vw;
    border-radius: 1rem;
    height: 1.5rem;
}
.trash {
    position: absolute;
    left: 77vw;
    margin: 0.5vw;
    z-index: 1000;
}
.theme {
    font-size: 2rem;
    color:rgb(66, 11, 216);
}

.thumbnails {
    width: 2.5rem;
    border-radius: 50%;
    float: left;
    margin: 0.2vw 0.5vw;
}
       