* {
    box-sizing: border-box;
    text-decoration: none;
}
.video{
    border: 2px solid rgb(78, 24, 24);
    margin: 0 1vw;
    border-radius: 1vw;
    max-width: 14vw;
    &:hover {
        border: 2px red solid;
    }
}

.flexItem {
    text-align: left;
    text-decoration: none;
    font-family: arial;
    font-size: 0.9vw;
    display: inline-block;
    
}

.channel {
    font-weight: 700;
    padding: 0 1.5vw;
    color: black;
    font-size: 1rem;
    width: 17vw;
}
.dates {
    width: 98vw;
    height: 3rem;
}
.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.nameVideo {
    padding: 0 1.5vw;
    max-height: 2.45rem;
    overflow: hidden;
    width: 17vw;
    color: black;
    font-size: 1rem;
    margin: 0.2vw 0;
}
.date {
    padding: 0 1.5vw;
    color: black;
    font-size: 0.9rem;
}
.duration {
    position: relative;
    font-size: 1rem;
    left: 70%;
    bottom: 15%;
    color: white;
    width: 3.5vw;
    height: 3vh;
    background-color: black;
    border-radius: 3px;
    text-align: right;
    padding: 0 0.2vw;
}
.cont {
    width: 15vw;
    position: relative;
    bottom: 9%;
}
.spinner {
    position: relative;
    top: 12vh;
}

@media only screen and (max-width: 1000px) {
    .video {
        border: 2px solid rgb(78, 24, 24);
        margin: auto 1vw;
        margin-top: 3vw;
        border-radius: 5vw;
        max-width: 90vw;
        justify-content: center;
        &:hover {
            border: 2px red solid;
        }
    }
    .videos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: scroll;
    }
    .duration {
        bottom: 10vw;
    }
    .channel {
        width: 70vw;
    }
    .nameVideo {
        width: 70vw;
    }
    .date {
        width: 70vw;
    }
}
