* {
    box-sizing: border-box;
}
.video{
    border: 2px solid rgb(78, 24, 24);
    margin: 0 1vw;
    border-radius: 1vw;
    width: 14vw;
    &:hover {
        border: 2px red solid;
    }
}
.flexItem {
    text-align: left;
    text-decoration: none;
    font-family: arial;
    font-size: 3vh;
    display: inline-block;
}

.channel {
    font-weight: 700;
    padding: 0 1vw;
    color: black;
}
.dates {
    width: 98vw;
    height: 5vw;
}
.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    // &:hover {
    //     position: absolute;
    //     width: 20vw;
    // }
}
.nameVideo {
    padding: 0 1vw;
    max-height: 2.5em;
    overflow: hidden;
    width: 15vw;
    color: black;
}
.date {
    padding: 0 1vw;
    color: black;
}
